body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
#logo {
  display: flex;
  justify-content: flex-start;
}
#logoimg {
  height: 130px;
  width: 130px;
}
@media (max-width: 450px) {
  #logoimg {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 30px;
  }
  header h1 {
    position: relative;
    top: 1px;
  }
  nav ul {
    position: relative;
    top: 30px;
    right: 0px;
    display: flex;
  }
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

header h1 {
  font-size: 2em;
  position: relative;
  bottom: 10vh;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

nav a:hover {
  text-decoration: underline;
}

.hero {
  background-image: url("images/bgnew.svg");
  background-size:cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 100px 0;
}

.hero h2 {
  font-size: 2.5em;
  color: #555;
}

.hero p {
  font-size: 1.2em;
  margin: 20px 0;
  color: #555;
}

.hero form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.hero input[type="text"] {
  width: 60%;
  padding: 10px;
  font-size: 1em;
}

.hero button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.hero button:hover {
  background-color: #555;
}

.featured-colleges {
  padding: 40px 0;
}

.college-card {
 
 
  background-color: #fff;
  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  margin: 20px;
}

.college-card img {
  max-width: 100%;
  height: auto;
  position: relative;
  left: 3vw;
  top: 3vh;
 
}

.college-card h3 {
  font-size: 1.5em;
  font-size: 25px;
}

.college-card p {
  margin: 5px ;
}

.college-card a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  
}

.college-card a:hover {
  text-decoration: underline;
}

.flexdiv{
  display: flex;

}
.course{
  position: relative;
  top: 50px;
  
  left: 38px;
  display: flex
  
 
}

.flexdiv h3{
  position: relative;
  padding: 20px;
  left: 4vw;
  top: 2vw;

}
.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
.rate-pos{
  position: relative;
  left: 60vw;
  bottom:30px;

  
}
.flexdiv2 a{
  position: relative;
  right: 80px;
}
@media (max-width: 450px) {

  .college-card {
 
    position: relative;
    right:25px;
    background-color: #fff;
    height:25vh;
    width:88vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    margin: 20px;
  }
  .college-card img{
    position: relative;
    width: 60px;
    height: 60px;
    bottom: 30px;
  }

  .college-card h3 {
    position: relative;
    font-size: 17px;
    top: -8px;
    
  }
  .location{
    
    display: none;
  }
 
  .course{
    position: relative;
    
    
  }
  .college-card a {
    position: relative;
    left: 80px;
    top: 15px;
  }
  .rate {
   display: none;
  }

}












footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
/*Swiper*/
@media (max-width: 450px) {
  .swiper {
    position: relative;
    top: 20px;
    width: 320px;
    height: 300px;
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }
}
@media screen and (min-width: 450px) {
  #mainswiper-mobile {
    display: none;
  }
}

/*
@media only screen and (min-width: 769px) {
  .swiper-slide:first-child {
    transition: transform 100ms;
  }

  .swiper-slide:first-child img {
    transition: box-shadow 500ms;
  }

  .swiper-slide.swiper-slide-active:first-child {
    transform: translateX(50%);
    z-index: 2;
  }

  .swiper-slide.swiper-slide-active:first-child img {
    box-shadow: 0px 32px 80px rgba(0, 0, 0, 0.35);
  }

  .swiper-slide:nth-child(2) {
    transition: transform 100ms;
  }

  .swiper-slide.swiper-slide-next:nth-child(2) {
    transform: translateX(55%);
    z-index: 1;
  }

  .swiper[dir="rtl"] .swiper-slide.swiper-slide-active:first-child {
    transform: translateX(-50%);
  }

  .swiper[dir="rtl"] .swiper-slide.swiper-slide-next:nth-child(2) {
    transform: translateX(-55%);
  }
}
*/
/*slidercontain
.slidertitle {
  display: flex;
  justify-content: top;
  
 
}
.slidertitle img {
  width: 30px;
  height: 30px;
}*/
@media screen and (max-width: 450px) {
  #mainswiper-desktop {
    display: none;
  }
}

@media screen and (min-width: 500px) {
  .swiper {
    width: 1200px;
    height: 300px;
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }
  .icon {
    display: flex;
    justify-content: top;
  }
  .icon img {
    width: 50px;
    border-radius: 50%;
  }
  .desktopdiv {
    display: flex;
    justify-content: top;
    text-decoration: none;
  }
}
